td.parent {
  color: #0f4164;
  font-weight:bold;
}

td.blank, td.parent {
  background-color: rgb(195, 209, 226);
}

.comparison-throbber {
  display: none;
  background: transparent url(/misc/throbber.gif) no-repeat 0px -18px;
  height: 15px;
  margin: 2px;
  width: 15px;
}

