// Bootstrap library.
@import "variables";
@import "bootstrap";

// Base-theme overrides.
@import "mixins";
@import "overrides";

//
@import "custom/global";
@import "custom/user-menu";
@import "custom/form";



/*estilos para comparar*/


#block-block-4, #block-block-5, #block-block-6, #block-block-7{
    background: #bf0410;
    background: -moz-linear-gradient(top,#bf0410 0,#a01126 100%);
    background: -webkit-gradient(left top,left bottom,color-stop(0,#bf0410),color-stop(100%,#a01126));
    background: -webkit-linear-gradient(top,#bf0410 0,#a01126 100%);
    background: -o-linear-gradient(top,#bf0410 0,#a01126 100%);
    background: -ms-linear-gradient(top,#bf0410 0,#a01126 100%);
    background: linear-gradient(to bottom,#bf0410 0,#a01126 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf0410', endColorstr='#a01126', GradientType=0);
    width:50%;
    margin:0 auto;
    padding:20px;
    text-align:center;
        
    a{color:#fff; text-decoration:none;}
    }
    .feeds-file-info{display:none !important;}
